{{>header}}
<body>
    {{>navbar}}


<div class="container">
  <div class="row">
    <div class="col-sm">
     <img src="https://cdn.dribbble.com/users/988448/screenshots/5240042/icon_cadastro_v5.gif" alt="" srcset="" height="150">
    </div>
    <div class="col-sm">
 <i>Hello every one am <b>ankush</b> and its my 1st mern stack project i use all things in this website and i make a sequre and awsome site .And it's help u to see it. <br>plase give me review about it</i>
 <b>Hello World</b>
    </div>
  </div>
</div>

</body>
</html>