<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="topnav">
  <a style="font-size: 20px;" href="/"><i> <b> Guptas</b></i></a>
  <div class="login-container">
 <a class="active" href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
  </div>
    <div class="container">
    <img src="https://techctice.com/wp-content/uploads/2020/10/Checkmark.gif" alt="" srcset="" height="270">
    <h1>Registation sucsessfully</h1>
    <button type="button" class="btn btn-info"><a href="/">go to home..</a></button>
    </div>
</body>
</html>