{{>header}}
<body>
    {{>navbar}}


<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1>Welcome to <b>softwear</b> World</h1>
        <img src="https://media1.giphy.com/media/SpopD7IQN2gK3qN4jS/giphy.gif" alt="">
     </div>
    <div class="col-sm">
        <h1>secret Hello World!</h1>
 <i>Hello every one i am <b>Royal Gupta</b> and its my 1st mern stack project i use all things in this website and i make a sequre and awsome site .And it's help u to see it. <br>plase give me review about it</i>
 <b>Hello World</b>
 <main class="col-md-8 main">
					
				<div>
					<h1>7 Skills Every Full Stack Developer Needs in 2022</h1>
											<img height="270" src="https://cdn.ucfbootcamps.com/wp-content/uploads/sites/113/2020/05/full-stack-developer-skills-850x412.jpg" class="aligncenter blog-hero wp-post-image" alt="List of core full stack developer skills" loading="lazy" srcset="https://cdn.ucfbootcamps.com/wp-content/uploads/sites/113/2020/05/full-stack-developer-skills-850x412.jpg 850w, https://cdn.ucfbootcamps.com/wp-content/uploads/sites/113/2020/05/full-stack-developer-skills-278x134.jpg 278w" >											
				</div>
									<p><span>It takes a certain set of skills to build a career as a full stack developer. Like a mechanic who decides that they haven’t truly fixed a car unless they’ve rehabbed its clunky engine </span><i><span style="font-weight: 400">and</span></i><span style="font-weight: 400"> reupholstered the seats, full stack developers need to be both driven and diverse in their professional talents,&nbsp;</span><span style="font-weight: 400">including having the following skillsets:</span></p>
<p><b>7 Skills Full Stack Developers Need in 2022</b></p>
<ol>
<li><span>HTML</span></li>
<li><span>CSS</span></li>
<li><span>JavaScript</span></li>
<li><span>Node.js</span></li>
<li><span>SQL</span></li>
<li><span>NoSQL</span></li>
<li><span>MERN Stack</span></li>
</ol>
	<div class="post-meta">
														</div>
				<!-- Pardot Form : Landing -->
<div class="lead_form sfps get-program-info" data-form_instance="1">
	<div class="content">
				
	
			</main>
    </div>
  </div>
</div>

</body>
</html>