<div class="bg-img">
<div class="topnav">
  <a style="font-size: 20px;" href="/"><i> <b> Guptas</b></i></a>
  <div class="login-container">
 <a  href="/">Home</a>
 <a href="/secret">Mern</a>
  <a href="/logout">Logout</a>
  <a href="/login">Signin</a>
  <a href="/register">Signup</a>
  </div>
</div>
</div>
